body{
    background-color: white;
}

.hidden{
    display: none;
}

h5{
    font-size: 16px;
}

#ajoutFilm{
    width:100%;
}

#index{
    text-align: center;
    background-color: white;
}

.petitBouton{
    margin:0px 2px;
}
